<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>User Details</title>
</head>
<body class="container">
    <h1 class="display-4">User Details</h1>
    <table class="table table-striped w-100 mb-5">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
        <tr>
            <td><%= data.first_name %></td>
            <td><%= data.last_name %></td>
            <td><%= data.email %></td>
        </tr>
    </table>
    <input class="btn btn-primary" type="button" value="Logout">
</body>
</html>